.main-container {
    flex: 1;

    align-items: center;
    text-align: center;
    justify-content: center;
  
    margin-top: 2rem;
    padding: 25px;
  }

.shape-header {
    display: block;

    color: red;
    
    margin-bottom: 2%;
}


.shape-header p {
    display: block;
        
    text-align: center;
    justify-content: center;
    align-items: center;

    font: 700 4.0rem Archivo;
}

.shape-header span {
    display: block;

    font: 700 2.0rem Archivo;
}



.shape-button {
    display: block;
}

.header-content {
    display: block;

    color: red;
    
    margin-top: 2%;
    margin-bottom: 2%;
}

.header-content p {
    display: block;
        
    text-align: center;
    justify-content: center;
    align-items: center;

    font: 700 4.0rem Archivo;
}

.header-content span {
    display: block;

    font: 700 2.0rem Archivo;
}