.db-container {
    flex: 1;
    display: flex;
    height: 62.5vh;
    width: 100%;
    


    align-items: center;
    flex-direction: row;

    background-image: url('../../assets/img/post-shape-connection.png') ;
    background-size: 100%;

   
}

.post-step1-button{
    flex: 1;

}
.forms-content {
    flex: 1;
    align-items: flex-end;
    
    font: 400 2rem Montserrat;
    padding: 2rem; 
    height: 70%; 
    justify-content: flex-end;

}

.forms-content label{
    text-align: left;
    display: block;
    float: left;
    width: 20%;
    padding-left: 10px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    
    

}

.forms-content input{
    height: 28px;
    margin: 10px;
    border:1px solid rgb(255, 188, 91);
    border-radius:4px;

}

.db-container button{

    
    border:1px solid rgb(255, 188, 91);
    border-radius:4px;
    

    display:inline-block;
    height: 45px;
    cursor:pointer;


    margin-top: 8px;
    
    padding: 5px 40px;
    font: 700 1.5rem Montserrat;

    color: rgb(255, 255, 255);
    background: rgb(255, 188, 91);

}

.db-container button:link,
.db-container button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.db-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.db-container button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.db-container button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

