.main-container {
    flex: 1;
    
    align-items: center;
    text-align: center;
    justify-content: center;
  
    margin: -5rem 30rem 2rem;
    padding: 3rem;

    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
    background: var(--color-box-base);
  }
  .shape-step1-header {
    display: flex;
    justify-content: start;

    margin-bottom: 2rem;
}

.shape-step1-header p {
    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step1-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-step1-button {
    display: block;
}

.shape-step2-header {
    display: flex;
    justify-content: start;

    margin: 3rem 0;
}

.shape-step2-header p {

    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step2-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-step2-button {
    display: block;
}

.shape-step3-header {
    display: flex;
    justify-content: start;

    margin: 3rem 0;
}

.shape-step3-header p {

    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step3-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-step3-button {
    display: block;
}

.shape-step4-header {
    display: flex;
    justify-content: start;

    margin: 3rem 0;
}

.shape-step4-header p {

    color: #800000;
        
    text-align: start;
    justify-content: center;
    align-items: center;

    font: 700 8.0rem Montserrat;
}

.shape-step4-header span {
    text-align: start;

    color: var(--color-text-complement);

    font: 400 3rem Montserrat;
    margin: 3rem 0 0 1rem;
}

.shape-send-button {
    flex: 1;
    display: flex;

    margin: 4rem 0 0 0;

    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 125px;
    width: 100%;
    
    background: #ce0606;

    font: 700 4.0rem Montserrat;
    color: #fff;

    border: 10px solid;
    border-color: salmon;

}

.shape-step4-de-para {
    flex:1;
    display: flex;
    flex-direction: column;

    margin: 4rem 0 0 0;

    border: 10px solid;
    border-image-source: linear-gradient(135deg, #241140, #891750);
    border-image-slice: 1;

    background: #da1c5c;
    background: linear-gradient(90deg, #da1c5c 0%,#75164d 71%);
}

.shape-step4-de-para h1 {
color: #fff;
font: 700 3.5rem Montserrat;
margin: 3rem 0 0 0;
}

.shape-step4-de-para .fields {
    color: #333333;
    font: 2rem Montserrat;
    height: 5rem;
    margin: 3px;
    }

.shape-step4-de-para .fields2 {
    color: #333333;
    font: 2rem Montserrat;
    height: 5rem;
    padding-top: 12px;
    margin: 3px;
    }

.shape-step4-selection {
    flex:1;
    display: flex;
    flex-direction: row;

    margin: 0;
}

.columns {
    flex:1;
    display: flex;
    flex-direction: column;

    margin: 4rem 0 0 0;
}

.fields, .fields2 {
    padding: 0.5rem 1rem;
    background-color: #fff;
    font: 1rem Montserrat;
    margin-bottom: 4rem;
}



.upload-button {
    flex: 1;
    display: flex;

    margin: 4rem 0 0 0;

    align-items: center;
    justify-content: center;
    text-align: center;
    
    height: 30px;
    width: 100%;
    
    background: #3c7e83;

    font: 700 2.0rem Montserrat;
    color: #fff;
}

.file-input {
    display: none;
} 

.file-upload-btn {
    color:white;
    text-transform: uppercase;
    outline: none;
    background-color: #f34a4a;
    font-weight: bold;
    padding: 8px 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    height: auto;
    width: auto;
}

.container p {
    color: red;
    text-align: center;
    font-size: 2rem;
}

.drop-container {
    flex: 1;
    display: flex;
    padding: 40px;
    align-items: center;
    flex-direction: column;
    background-image: url('../../assets/img/background-red.png');

    border: 10px solid;
    
    background-position: 100%;
}

.drop-message {
    text-align: center;
    color: #ffffff;
    font: 2.5rem Montserrat;
}

.drop-message-2 {
    text-align: center;
    color: #ffffff;
    font: 2rem Montserrat;
}

.file-progressBar {
    width: 100%;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 5px;
    vertical-align:top;
    flex: 6 !important;
    margin-left: 50px;
    box-sizing: content-box;
    width:calc(100% - 50px)
}
    
.file-progressBar div {
    height: auto;
    color: #fff;
    text-align: right;
    line-height: 15px;
    width: 0;
    background-color: #4caf50; 
    border-radius: 3px; 
    font-size: 13px;
}
  
.file-status-bar{
    width: 100%;
    vertical-align:top;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
    line-height: 50px;
    height: 50px;
}
  
.file-status-bar > div {
    overflow: hidden;
}
  
.file-type {
    position: absolute;
    font-size: 12px;
    font-weight: 700;
    line-height: 13px;
    margin-top: 25px;
    padding: 0 4px;
    border-radius: 2px;
    box-shadow: 1px 1px 2px #abc;
    color: #fff;
    background: #0080c8;
    text-transform: uppercase;
}
  
.file-name {
    display: inline-block;
    vertical-align:top;
    color: auto;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #000000;
}

.file-error {
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    color: #9aa9bb;
}

.file-error-message {
    color: red;
}
  
.file-type-logo {
    width: 50px;
    height: 50px;
    background: url(../../assets/img/generic.png) no-repeat center center; 
    background-size: 100%;
    position: absolute;
}
  
.file-size {
    display:inline-block;
    vertical-align:top;
    color:#30693D;
    margin-left:10px;
    margin-right:5px;
    margin-left: 10px;
    color: #444242;
    font-weight: 600;
    font-size: 12px;
}
  
.file-remove  {
    position: absolute;
    top: 20px;
    right: 10px;
    line-height: 15px;
    cursor: pointer;
    color: red;
    align-items: auto;
    margin-right: -10px;
}

.modal{
    z-index: 999;
    display: none;
    overflow: hidden;
}

.modal .overlay{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.66);
    position: absolute;
    top: 0;
    left: 0;
}

.modal .modal-image{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-image-text {
    position: absolute;
    color: red;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
}

.close {
    position: relative;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin-right: -90%;
    background-color: #d3d3d3;
}

.upload-modal {
    z-index: 999;
    display: none;
    overflow: hidden;
}

.upload-modal .overlay{
    width: auto;
    height: auto;
    background: rgba(0,0,0,.66);
    position: relative;
    top: 0;
    left: 0;
}

.progress-container {
    width: auto;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    margin-top: 3rem;
    background: #d3d3d3;
}

.progress-container span {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
}

.progress {
    width: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 20px;
    border-radius: 5px;
}

.progress-bar {
    position: relative;
    background-color: #ea4d2b;
    height: auto;
    border-radius: 10rem;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 2rem;
}

.error {
    color: red;
}


.db-container {
    flex: 1;
    display: flex;
    padding: 40px;
    align-items: center;
    flex-direction: column;

    /*background-image: url('../../assets/img/post-shape-connection.png') ;
    */
    background: rgb(230, 140, 11);

    border: 10px solid;
    border-color: rgb(255, 188, 91);

   
}

.db-container-title h1 {
    color: #fff;
    font: 700 3.0rem Montserrat;
    margin-bottom: 20px;
    }

.db-container-title h2 {
    color: #fff;
    font: 300 1.5rem Montserrat;
    margin-bottom: 20px;
    }

.post-step1-button{
    flex: 1;

}


.forms-content-label-text-box{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;


}

.forms-content-label {
    flex: 1;
    display: flex;
    flex-direction: column;
    
    font: 400 2rem Montserrat;
    
    /*padding-left: 50px; 
    */
    justify-content: flex-end;
    /*border: solid 2px black;
    */

}

.forms-content-label label{
    
    text-align: right;
    float: right;
    margin-right: 2px;
    font-size: 19px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
    
    

}

.forms-content-text-box {

    width: 20%;
    margin-right: 90px;

    /*border: solid 2px blue;
    */

}

.forms-content-text-box .txtbox{
    margin-bottom: 12px;
    border: 3px solid orange;
    border-radius: 4px;
}




.forms-content input{
    height: 28px;
    margin: 10px;
    border:1px solid rgb(255, 188, 91);
    border-radius:4px;

}

.db-container button{

    
    border:1px solid rgb(255, 188, 91);
    border-radius:4px;
    

    display:inline-block;
    height: 45px;
    cursor:pointer;


    margin-top: 8px;
    
    padding: 5px 40px;
    font: 700 1.5rem Montserrat;

    color: rgb(255, 255, 255);
    background: rgb(255, 188, 91);

}

.db-container button:link,
.db-container button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.db-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.db-container button:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.db-container button::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.selectbox {
    font-size: 50px;
    min-width: 100%;
    margin: 15px 0px 0px 0px;
}